/* Selector universal */
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Título principal */
h1 {
  text-align: center;
  font-weight: bold;
}

/* Imagen de perfil */
#photo {
  width: 8vw;
  height: auto;
}

/* Subtítulos */
.subtitle {
  color: rgba(151, 156, 165, 0.89);
  text-transform: uppercase;
}

/* Pie de página */
footer p {
  text-align: right;
  font-style: italic;
}

/* Secciones */
section {
  border: 0.2pt solid #cedddd;
  margin: 4px 2px 8px 2px;
  padding: 1.5% 0.8%;
  border-radius: 5px;
  box-shadow: 3px 3px 1px rgba(235, 234, 234, 0.6);
}
